*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-image: url("lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline;
  }
  
a {
    display: block;
    padding: 14px 16px;
    color: white;
    background-color: #333;
    text-decoration: none;
  }

.active {
    background-color: #04AA6D;
}
.titre{
  display: block;
  left: 0;
  right: 0;
  border: 2px solid black;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
.expressive{
  color: black;
  padding: 20px;
  padding-top: 100px;
  font-size: 35px;
}

