*{
    margin: 0;
    padding: 0;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline;
}
  
a {
    display: block;
    padding: 14px 16px;
    color: white;
    background-color: #333;
    text-decoration: none;
}
.column {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #B2D6FF;    /* Medium blue */
}
footer{
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
  }
  
.image-wrap{
    height: 40vh;
    flex-grow: 1;
}
  
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

